.titulo-osteo {
    color:#004100 ;
    font-family:'Poppins', sans-serif ;
    background-color: slategray;
    font-size: 30px;

    @media screen and (max-width: 740px) {

        font-size: 10px ;
        
    } 
}

.infoOsteopatia {
    height: 500px;
    background-image: linear-gradient(#265da5, #659be2);
    
    .row {
        iframe {
        width: 100%;
        height: 100%;
        margin: 0 auto ;
        padding: 30px;

        }

        @media screen and (max-width: 740px) {

            iframe {
                max-width: 100%;
                height: auto;
            }

        }

        .contenido-osteo {
            color: #240625 ;
            font-family:'Poppins', sans-serif ;
            font-size: 18px;
            letter-spacing: 5px; 
            margin: 0 auto ;
            padding: 30px;   

            @media screen and (max-width: 740px) {

                font-size: 10px ;
                  
                
            } 
            
        }

      
    }

}




