@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "componentes/header";
@import "componentes/btn-wsp" ;
@import "componentes/nosotros" ;
@import "componentes/cards" ;
@import "componentes/instalaciones" ;
@import "componentes/obrassociales";
@import "componentes/osteopatia" ;
@import "componentes/contacto" ;
@import "componentes/footer" ;
@import "componentes/globales" ;
@import "bases/listas" ;
@import "bases/variables" ;
@import "componentes/recomenda" ;






