$colores-header : 
#ffd60a ,
#240625,
green ,
#265da5, #659be2 ,
rgba(110,118,129,0.4) ;


$colores-nosotros :
#023e8a ,
#03045e ,
#0096c7 ,
#fff,
#0077b6,
#caf0f8 ;

$colores-recomenda :
red ;

$colores-cards :
#023e8a ,
#0096c7 ;

$colores-instalaciones :
#caf0f8 ,
#fff ,
#0077b6 ;

$colores-obrassociales : 
#fff ,
#0077b6 ;

$colores-osteopatia :
#0096c7 ,
#fff ,
#0077b6 ;

$colores-contacto : 
#caf0f8 ,
#fff ,
#0077b6 ;

$colores-footer : 
#265da5, #659be2 ,
#03045e ,
#fff ,
#c13584,
#3b5998;

$colores-globales :
#62ccd8,
rgba(110,118,129,0.4)
#03045e ;
















