#contacto-container {
    height: 500px;
    font-family:'Poppins', sans-serif ;
    font-size: 20px;
    background-color: #48cae4;
    text-align: center;
    

    

    .claseContacto {
        color:  #023e8a ;
        font-family:'Poppins', sans-serif ;
        background-color: #0077b6;
        font-size: 30px;
        text-decoration: underline;
        text-transform: uppercase;
        text-align: center;
    }

    iframe {
        max-width: 100%;
        height: 300px ;
       
    }

}


