.footerContenedor { 

    background-image: linear-gradient(#265da5, #659be2) ;
    letter-spacing: 8px;
    font-size: 20px ;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

    div {
    
        .redes {

            color:  #03045e ;
            background-color: #fff ;
            width: 100% ;
            height: 80px ;
            max-width: 1000px ;
            min-width: 300px ;
            margin: 0 auto ;
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .fab.fa-instagram {
                color: #c13584;
            }

            .fab.fa-facebook-square {
                color: #3b5998;
            }
            
        
        }

    }
    

    .navegacion-footer {
        a {
            color:#fff ;
            font-family: 'Poppins', sans-serif ;
            font-size: 20px;
            letter-spacing: 3px;
            word-spacing: 5px;
            text-transform: uppercase;
            
        }


    } 

    @media screen and (max-width: 740px) {

        height: 300px;

            
    } 

            
    

}
