* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #62ccd8;
    font-family: 'Poppins', sans-serif ;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 3px 3px 8px black;

    @media (max-width: 768px) {
        margin-top: 50px;
        font-size: 30px;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
    }
    
  
}

body {
    background-color: rgba(110,118,129,0.4) ;
    font-family:  'Poppins', sans-serif ;
   
}

p {
    color: #03045e ;
}












