* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #62ccd8;
    font-family: 'Poppins', sans-serif ;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: bold;

    @media screen and (max-width: 740px) {

        font-size: 20px ;
  
    } 

}

body {
    background-color: #fff ;
    font-family:  'Poppins', sans-serif ;
   
}

p {
    color: #03045e ;
}












