/*ANIDAMIENTO*/
.navbar-brand {
    background-color: #ffd60a ;
    border-radius: 100%;
    
}
.header-inicio {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(#265da5, #659be2);
    display: flex;
    flex-direction: row;


    .encabezado {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 25px;
       
        
        
        .subtitulo {
            color: #240625;
            text-align: center;
            font-size: 30px;
            letter-spacing: 8px;
            font-style: italic;

  
        }
    }

    
    @media (max-width: 768px) {
        height: 500px;
        align-items: center;
        
        
    
    }

    
    
}



.carousel-contenedor {

    .carousel-inner img {
        width: 100%;
        max-height: 460px;

        @media (max-width: 768px) {
            height: 400px;
           
            
            
        
        }


        
    }

    .carousel-inner {
        height: 400px;

    }


}
