.galeria {
    display: flex;
    flex-direction: column;
    background-color: #caf0f8;
    border: 5px solid black;
    width: 80%;
    height: 700px;
    margin: 50px auto ;
    padding: 20px;

    .encabezado-instalaciones {
        color: #fff ;
        font-family:'Poppins', sans-serif ;
        background-color: #0077b6;
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
    }
    
    .instalaciones-contenedor {
        display: flex;
        justify-content: center;
        height: 700px;
        width: 60%;
        padding: 30px;

        


        .imagenes {
         
            height: 600px;
            object-fit: cover;
        }

        .imagenes .img {
            object-fit: cover;
            width: 80%;
            height: 80% ;

        }

        @media screen and (max-width: 740px) {

            
            .imagenes  {
                min-width: max-content;
                width: 400px;
                height: 400px ;
                
            
    
            }


        }

 


    }

    @media screen and (max-width: 740px) {

        height: 450px;
        width: 100%;

            

  
    } 

  
}

