.galeria {
    background-color: #caf0f8;
    border: 5px solid black;
    width: 80%;
    margin: 0 auto;
    padding: 30px;

    .encabezado-instalaciones {
        color: #023e8a ;
        font-family:'Poppins', sans-serif ;
        background-color: #0077b6;
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
    }
    .instalaciones-contenedor {
        height: 700px;
        width: 50%;
        margin: 0 auto;

        .imagenes {
            height: 600px;
        }

        .imagenes .img {
            width: 100%;
            height: 100%;

        }
        @media screen and (max-width: 740px) {

            
            .imagenes .img {
                width: 100%;
                height: 50%;
                

            }
        }


    }

    @media screen and (max-width: 740px) {

        height: 450px;
        width: 100%;

            

  
    } 

  
}

