#contenedorNosotros {
    background-color: #0096c7 ;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    text-align: justify;
    font-family:'Poppins', sans-serif ;
    width: 98%;
    display: flex;
    max-width: 1000px ;
    min-width: 250px;
    margin: 20px auto ;
    flex-wrap: wrap;



    .contenido-nosotros  {

        display: flex;
        min-width: 300px;
        margin-bottom: 0px;


        .encabezado-nosotros {
            color: #fff ;
            font-family:'Poppins', sans-serif ;
            background-color: #0077b6;
            font-size: 30px;

        }

        .parrafo-nosotros {
            background-color: #fff ;
            font-size: 20px;
            letter-spacing: 2px;
            border-radius: 8px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            min-width: 300px;
            

            .servicios  {
                font-style: italic;
                font-size: 20px;
                letter-spacing: 2px;
                color: #03045e ;
                background-color: #caf0f8 ;
                border-radius: 2px;
                display: flex;
                margin: auto;
                padding: 15px;
                flex-wrap: wrap ;
                max-width: 1000px;
                min-width: 100px;
    
        
            }
        
        }

        .sidebar {
            flex-direction: column;
            min-width: 300px;
            
        }

        .sidebar img {
            color: #023e8a ;
            font-family:'Poppins', sans-serif ;
            background-color: #0077b6;
            border-radius: 5px ;
            width: 90% ;
            height: 250px;
            justify-content: center;
            margin: 0 auto ;
            padding: 30px;
            min-width: 300px;
        
        }

        .sidebar h3 {
            color: #caf0f8 ;
            font-style: italic ;
            text-decoration: underline;
           
           
        }

        .sidebar p {
            color: #caf0f8 ;
        }
            
        .sidebar img:hover {
            transform: scale(2,2);
        }

    }

    

}




