#obrassociales-contenedor {
    height: 450px;
    background-image: url(../Multimediaok/logos-obrassociales.jpg);
    background-position: center ;
    background-size: 90%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto ;
    padding: 10px;
    max-width: 1000px ;
    min-width: 300px;

    .encabezado-obrassociales {
        
        color: #fff ;
        text-align: center;
        font-family:'Poppins', sans-serif ;
        background-color: #0077b6;
        font-size: 30px;
    }



}





