.contenedor-padre {

    width: 100%;
    height: 800px;
    background-color: #caf0f8 ;
    display: flex;
    flex-direction: row ;
    align-items:center ;
    margin: 0 auto ;
    padding: 20px;
    max-width: 1000px ;
    min-width: 250px;

    .titulo-osteo {

        color: #023e8a ;
        background-color: #0077b6;
        font-size: 30px;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;

        @media screen and (max-width: 740px) {

          font-size: 20px;
        
            
        } 

    
    }
    

    .contenedor-osteo {
        margin: 0 auto ;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100% ;
        min-width: 250px;


        .contenido-osteo {
            background-color: #48cae4 ;
            font-size: 20px;
            width: 90%;
            height: 300px;
            padding: 20px;
            margin: 20px ;
            display: flex;
            flex-wrap: wrap ;

            @media screen and (max-width: 740px) {

                width: 100%;
                height: 600px;
                display: flex;
                flex-direction: column ;
                align-items: center;
                max-width: 1000px ;
                min-width: 250px;
                flex-wrap: wrap;
               
            }
        
        }

        @media screen and (max-width: 740px) {

            
            width: 100%;
            height: 800px;
            display: flex;
            flex-direction: row ;
            align-items: center;
            max-width: 1000px ;
            min-width: 250px ;
    

        } 

    }

    @media screen and (max-width: 740px) {

        .video {

            display: none;
        } 
    } 
      
 
}


